    <!-- <div class="py-5 text-center"> -->
      <!-- <h2>Image Tools</h2>
      <p>Remove Background, edit and optimize images. Generate product tags, categories and description from the Images</p> -->

      <div class="row py-5">
      <div class="col-md-6 order-md-1 mb-4">
        <h4 class="mb-3">Image Tools</h4>
        <p class="text-muted pb-5">Remove Background, edit and optimize images. Generate product tags, categories and description from the Images</p>
          <form method="post" action="#" id="#">
            <div class="form-group files drag-drop">
              <label>Upload Your File </label>
              <input type="file" class="form-control" multiple="">
            </div>
          </form>
        </div>
      </div>
    </div>