<% content_for :javascript do %>
<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({ title: "Home" });
  });
</script>
<% end %>
<div class="bg-light">
  <div class="container">

  <div class="alert alert-success my-5" role="alert">
    <p class="alert-heading">Click the stars to tell us how you’re feeling about the app so far 😊👉</p>
  </div>

  <h2><%= "Hey there #{@shop} 👋 😊" %></h2>
  <p>Welcome to another top rated FREE app by Prototype Labs! 🚀</p>
    <div class="py-5 text-center">
      <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      <h2>EU Cookie Bar</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
    
    <div class="row">
      <div class="col-md-6 order-md-1 mb-4">
        <h4 class="mb-3">Banner Settings</h4>
        <p class="text-muted">Make the banner seamlessly suit your store</p>

        <form class="needs-validation" novalidate>
         <!--  <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div> -->

          <!-- <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username" required>
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div> -->

        <!--   <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div> -->

          <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="banner-enabled" checked>
            <label class="custom-control-label" for="banner-enabled">Banner enabled on your store</label>
          </div>

          <div class="mb-4">
            <label for="bar-message">Message</label>
            <textarea rows="3" class="form-control" id="bar-message" required>This website uses cookies to ensure you get the best experience on our website.
            </textarea>
            <div class="invalid-feedback">
              Please enter a message.
            </div>
          </div>

          <div class="mb-4">
            <label for="bar-privacy-link">Privacy Policy URL</label>
            <input type="text" class="form-control" id="bar-privacy-link" required value="https://geeky-design.myshopify.com/policies/privacy-policy">
            <div class="invalid-feedback">
              Please enter your privacy policy URL
            </div>
          </div>

          <div class="mb-4">
            <label for="bar-button-text">OK Button Text</label>
            <input type="text" class="form-control" id="bar-button-text" required value="Got it!">
            <div class="invalid-feedback">
              Please enter OK button text
            </div>
          </div>

          <div class="mb-4">
            <label for="bar-privacy-link-text">Info Link Text</label>
            <input type="text" class="form-control" id="bar-privacy-link-text" required value="Learn More">
            <div class="invalid-feedback">
              Please enter info link text
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state" required>
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div> -->
          <!-- <hr class="mb-4"> -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="eu-countries">
            <label class="custom-control-label" for="eu-countries">Show banner just for EU countries</label>
          </div>
         <!--  <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div> -->
          <hr class="mb-4">

         <!--  <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div> -->
          <!-- <hr class="mb-4"> -->

       

          <button class="btn btn-outline-primary btn-block" type="submit">Preview the cookie bar on your store and come back 👍</button>
        </form>
      </div>
      <div class="col-md-4 order-md-2">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span>Design Settings</span>
          <!-- <span class="badge badge-secondary badge-pill">3</span> -->
        </h4>
        <p class="text-muted">Change the design of your banner</p>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Banner</h6>
            <input class="color-picker" id="color-banner" value='#000000' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Banner Text</h6>
            <input class="color-picker" id="color-banner-text" value='#ffffff' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Banner Link</h6>
            <input class="color-picker" id="color-banner-link" value='#ffffff' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Button</h6>
            <input class="color-picker" id="color-button" value='#000000' />

          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Button Text</h6>
            <input class="color-picker" id="color-button-text" value='#4FC3F7' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Button Border</h6>
            <input class="color-picker" id="color-button-border" value='#4FC3F7' />
          </li>
          <!-- <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li> -->
         <!--  <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li> -->
        </ul>

        <!-- <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </div> 
        </form> -->
      </div>
    </div>
      

<!--     <div class="preview-holder" style="display: block;">
     <div class="preview-cookie-bar" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
       <div class="seven">
         <span class="bar-text-wrapper">
           <span class="bar-message">This website uses cookies to ensure you get the best experience on our website.</span>
           <span class="bar-link"><a class="cc-link" href="https://geeky-design.myshopify.com/policies/privacy-policy" target="_blank" style="color: rgb(255, 255, 255);">Learn More</a></span>
         </span>
       </div>
       <div class="three">
         <a class="cc-dismiss" style="color: rgb(255, 112, 67); background-color: rgb(0, 0, 0); border-color: rgb(255, 112, 67);">Got it!</a>
       </div>
     </div>
   </div> -->


    <footer class="my-5 pt-5 text-muted text-center text-small">  
      <p class="mb-1">&copy; 2017-2019 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
  <div class="preview-cookie-bar-holder">
    <div class="preview-cookie-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="preview-bar-message"><span>This website uses cookies to ensure you get the best experience on our website.&nbsp;</span><a href="#" class="preview-privacy-link">Learn More</a></div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-primary btn-block preview-bar-button" type="submit">Got it!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>