@import "bootstrap";
@import "spectrum.min";

// .bd-placeholder-img {
//   font-size: 1.125rem;
//   text-anchor: middle;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// @media (min-width: 768px) {
//   .bd-placeholder-img-lg {
//     font-size: 3.5rem;
//   }
// }
// .container {
//   max-width: 960px;
// }

// .lh-condensed {
//   line-height: 1.25;
// }


// Sticky cookie bar
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px; /* Margin bottom by footer height */
}

.bg-blue {
  background-color: #3E31FF !important;
}

.bg-nav {
  // border-bottom: 2px solid #3E31FF;
  background-color: #535353 !important;
}

.preview-cookie-bar-holder {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px; /* Set the fixed height of the footer here */
  line-height: 140px; /* Vertically center the text there */
  // background-color: blue;
  // border: 30px solid transparent;
  background-image: image-url('bg-white.png');

  .preview-cookie-bar {
    color: white;
    background-color: black;
    height: 80px;
    line-height: 80px;
    margin: 30px;

  }

  .preview-bar-button {
    margin-top: 20px;
  }

}

.product-row {
  max-height: 100px;
}